/*                    GENERAL                     */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
  padding: 40px;
}

html,body{
  height: 100%;
  position: relative;
}
.main-container {
  min-height: 100vh; 
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; 
 }

  footer {
    background: rgb(52, 90, 52);
    text-align: center;
    width: 100%;
    font-size: 24px;
    padding-top: 25px;
    bottom: 0;
    position: absolute;
  }
  
  h2 {
    font-size: 25px;
    font-weight: bold;
    color:red;
  }

.cards {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  padding: 5rem;
}

.card {
  padding: 1rem;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 2fr); 
  }
}

@media (min-width: 674px) {
  .cards { 
    grid-template-columns: repeat(3, 1fr); 
  }
}

#new {
  border-style: solid;
  border-color: coral;
}

#dead {
  border-style: solid;
  border-color: red
}

#recover {
  border-style: solid;
  border-color: blue
}

#hosp {
  border-style: solid;
  border-color: yellow
}

#total {
  border-style: solid;
  border-color: black
}

#deathTotal{
  border-style: solid;
  border-color:firebrick
}

header img{
  width: 130px;
  vertical-align: top
}

h1{
  text-align: center;
}